body {
    font-family: Arial, sans-serif;
    text-align: center;
}

/* DIV */

.caja {
    width: 150px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    background-color: lightblue;
    border: 2px solid blue;
}

/* BLOCK */

.caja-1 {
    display: block;
}

/* INLINE-BLOCK */

.caja-2 {
    display: inline-block;
}

/* NONE */

.caja-3 {
    display: none;
}

/* SPAN */

.texto {
    padding: 10px;
    margin: 10px;
    background-color: lightgreen;
    border: 2px solid green;
}

/* INLINE */

.texto-1 {
    display: inline;
}

/* INLINE-BLOCK */

.texto-2 {
    display: inline-block;
}

/* BLOCK */

.texto-3 {
    display: block;
}