body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 30px;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.producto {
    border: 1px solid black;
    padding: 20px;
    background-color: #f2f2f2;
}